#wrap{
height: 100%;
min-width: 100%;
}
#headerInner{
    padding-left: 20px;
    float: left;
}

#headContact{
 padding-top: 40px; 
 padding-right: 20px;  
 float: right;
 text-align: right;
}
#headContactInner{
    font-size: small;
}

#home-title{
    padding-top: 40px;
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

#home-description{
    text-align: center;

}
#rotate{
    padding-top: 40px;
    font-size: 80px;
    text-align: center;
       
}

.btn-box{
    text-align: center;
    padding-top: 50px; 
}

.btn-box> a{
    width: 10%;
    border-radius: 5px;
    padding: 13px;
    color: white;
    font-weight: bold;
    background-color: #283991;
    font-size: 22px;
    text-decoration:none;
}


@media only screen and (max-width:991px){
#headerInner{
    padding-left: 0px !important;
    float: left;
}
#headContact {
    padding-top: 0px; 
    padding-right: 0px;  
    float: right;
    text-align: right;
}
#home-title{
    padding-top: 0px;
    font-size: 25px;
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

#home-description{
    text-align: center;
    font-size: 12px;
}
#rotate{
    padding-top: 0px;
    font-size: 40px;
    text-align: center;
       
}

.btn-box{
    text-align: center;
    padding-top: 30px; 
}

.btn-box> a{
    width: 50%;
    border-radius: 5px;
    padding: 9px;
    color: white;
    font-weight: bold;
    background-color: #283991;
    font-size: 14px;
    text-decoration:none;
}
}